.ms-BasePicker-input {
    outline: none;
    border: none;
}

.addMember {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.addMemberBtn {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.addMemberBtn:hover {
    background-color: rgb(237, 235, 233);
    border-radius: 15px;
}