.commntRw {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.commntRwWrpr {
    margin: 15px;
}

.dtTmTxt {
    font-size: 12px;
    color: rgb(96, 94, 92);
}

.commntTxt {
    margin-bottom: 5px;
    padding-left: 32px;
    color: rgb(50, 49, 48);
    font-size: 14px;
}