.modal {
    height: inherit;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.4);
    /* width: inherit; */
    /* height: inherit; */
    position: absolute;
    top: 0;
    left: 0;
}

/* .dialog_footer > button {

} */