.taskCard {
    box-shadow: rgba(0, 0, 0, 0.133) 0px 3.2px 7.2px 0px, rgba(0, 0, 0, 0.11) 0px 0.6px 1.8px 0px;
    background-color: rgb(255, 255, 255);
    flex: 0 0 auto;
    min-height: 10px;
    min-width: 0px;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 3px;
    width: 100%;
    cursor: pointer;
    position: relative;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.topBar {
    padding: 12px;
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
    justify-content: space-between;
    min-width: 0;
    min-height: 0;
}


.planNameRow {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.planName {
    display: flex;
    flex: 0 0 auto;
    font-size: 12px;
    font-weight: 600;
    color: rgb(33, 115, 70);
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    margin-bottom: 15px;
    margin-top: -5px;
}

.taskActionsContainer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: absolute;
    right: 5px;
    top: 2px;
    padding: 5px;
}

.taskActions {
    margin: 2px;
}

/* .actionsContainer {
    display: flex;
    flex-direction: column;
    width: 55%;
    box-shadow: rgba(0, 0, 0, 0.133) 0px 3.2px 7.2px 0px, rgba(0, 0, 0, 0.11) 0px 0.6px 1.8px 0px;
    box-sizing: border-box;
    border-radius: 2px;
    position: absolute;
    color: rgb(50, 49, 48);
    font-weight: 400;
    font-size: 14px;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    z-index: 9999999 !important;
    opacity: 1 !important;
    right: 0;
    left: 266px;
    padding: 5px;
}

.taskActionsMenu {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding: 5px;
    box-sizing: border-box;
} */

/* .taskActionsMenu:hover {
    background-color: rgb(237, 235, 233);
} */

.titleRow {
    display: flex;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    align-items: center;
    min-height: 0px;
    min-width: 100%;
}

.title {
    font-size: 14px;
    font-weight: 400;
    color: rgb(50, 49, 48);
    /* flex: 0 0 236px; */
    margin-top: -1px;
    overflow: hidden;
}

.markCompleteButton {
    margin-right: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    /* margin: 0px; */
    /* padding: 0px; */
    /* border: 0px; */
    cursor: pointer;
    overflow: visible;
    background: transparent;
    border-radius: 10px;
}

.hrDiv {
    width: 100%;
    height: 1px;
    padding: 0px;
    border: 1px solid rgb(237, 235, 233);
    box-sizing: border-box;
}

.bottomBar {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    /* border-top: 1px solid rgb(237, 235, 233); */
    justify-content: space-between;
}

.bottomBarRightSection {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
    /* justify-content: flex-end; */
    /* position: absolute; */
    /* right: 12px; */
}

.bottomBarLeftSection {
    display: flex;
    flex-flow: row nowrap;
    /* justify-content: center; */
    align-items: center;
    padding-left: 12px;
}

.dateLabel {
    display: flex;
    align-items: center;
}

.labelRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}