@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}

.lblPickrDrpDwn {
    position: absolute;
    top: 36px;
    box-sizing: border-box;
    z-index: 1000000;
    font-size: 14px;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    max-height: 292px;
    /* overflow-y: scroll; */
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.133) 0px 6.4px 14.4px 0px, rgba(0, 0, 0, 0.11) 0px 1.2px 3.6px 0px;
    color: rgb(50, 49, 48);
    outline: transparent;
    width: 200px;
    animation: growDown 300ms ease-in-out forwards;
}

.labelPickerSuggestions {
    padding: 8px 0px 8px 0px;
}

/* ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(200, 198, 196);
    border-radius: 10px;
} */